/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      true;
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         112px!default;
$mega-size:         56px!default;
$kilo-size:         45px!default;

$h1-size:           30px;		// .alpha
$h2-size:           22px; 		// .beta
$h3-size:           20px;		// .gamma
$h4-size:           16px;		// .gamma


$milli-size:        13px!default;
$micro-size:        11px!default;

$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

// Debug mode
$debug-mode:        false;
$line-height:		false;

// Base font stuff
$base-font-size:    14px;
$base-line-height:  22px;

$base-font-family:  serif;

// Responsive breakpoints

// ORIGINALS

$palm-start:        300px;
$lap-start:         660px;
$desk-start:        660px;
$desk-wide-start:   1200px;

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

// Colours
$brand-color:       		rgba(0,47,167,1);
$brand-secondary-color: 	rgba(220,170,70,1);
$brand-action-color: 		$brand-color;


$brand-face:        		Arial, sans-serif;
$brand-secondary-face:		'Helvetica Neue', Arial, sans-serif;
$brand-nav-face:       		'Helvetica Neue', Arial, sans-serif;

// font-family: 'Lato', sans-serif;
// font-family: 'Cabin', sans-serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

$logo-face:					$brand-nav-face;
$brand-round:      			2px;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$ETI-500:					rgba(26,35,126,1);
$npower-500:				rgba(244,67,54,1);
$swm-500:					rgba(0,188,212,1);
$al-500:					rgba(255,87,34,1);



$Black: 					rgba(0,0,0,1);

// $h1-colour:					rgba(0,0,0,0.54);

$Text:						$Black;
$SecondaryText:				rgba(0,0,0,0.54);
$Dividers:					rgba(0,0,0,0.12);

$White: 					rgba(254,254,254,1);
$Grey:						rgba(220,220,220,1);
$GreyLight:					rgba(240,240,240,1);
$Green:						rgba(50,130,50,1);
$Red:						rgba(217,70,28,1);
$Blue:						rgba(4,75,91,1);
$Yellow:					rgba(230,255,0,1);