/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      true;
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         101px!default;
$mega-size:         82px!default;
$kilo-size:         57px!default;

$h1-size:           39px!default; // .alpha
$h2-size:           26px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           16px!default;

$milli-size:        12px!default;
$micro-size:        10px!default;

$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

// Debug mode
$debug-mode:        false;
$line-height:		false;

// Base font stuff
$base-font-size:    20px;
$base-line-height:  28px;
$base-font-family:  serif;

// Responsive breakpoints

// ORIGINALS

$palm-start:        300px;
$lap-start:         660px;
$desk-start:        660px;
$desk-wide-start:   1200px;

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

// Brand stuff
$brand-color:       		rgba(0,173,0,1);
$brand-secondary-color: 	rgba(108,173,223,1);
$brand-action-color: 		rgba(218,128,43,1);
$brand-face:        		Georgia, serif;
$brand-secondary-face:      "Helvetica Neue", Helvetica, sans-serif;

// $brand-face:        		'Roboto', "Helvetica Neue", Helvetica, sans-serif;
// $brand-secondary-face:   'Roboto Condensed', "Helvetica Neue", Helvetica, sans-serif;
$brand-round:        		2px;


// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

// $heading-face:      		"Helvetica Neue", Helvetica, sans-serif;
// $heading-face:      		'Roboto Slab', Georgia, serif;

$Black: 					rgba(0,0,0,1);
$White: 					rgba(246,246,246,1);
$Grey:						rgba(220,220,220,1);
$Green:						rgba(50,130,50,1);
$Red:						rgba(217,70,28,1);
$Blue:						rgba(4,75,91,1);
$Yellow:					rgba(230,255,0,1);
