/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      true;
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         101px!default;
$mega-size:         82px!default;
$kilo-size:         57px!default;

$h1-size:           36px;		// .alpha
$h2-size:           20px; 		// .beta
$h3-size:           14px;		// .gamma

$milli-size:        12px!default;
$micro-size:        10px!default;

$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

// Debug mode
$debug-mode:        false;
$line-height:		false;

// Base font stuff
$base-font-size:    14px;
$base-line-height:  25px;

// $base-font-size:    20px;
// $base-line-height:  28px;
$base-font-family:  serif;

// Responsive breakpoints

// ORIGINALS

$palm-start:        300px;
$lap-start:         660px;
$desk-start:        660px;
$desk-wide-start:   1200px;

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/

// Brand stuff
$brand-color:       		rgba(33,127,190,1);
$brand-secondary-color: 	rgba(220,170,70,1);
$brand-action-color: 		$brand-color;


$brand-face:        		"Open Sans", sans-serif;
$brand-secondary-face:      "Open Sans Condensed", sans-serif;
$logo-face:					"Open Sans Condensed", sans-serif;

// "abril-text-1","abril-text-2"
// "tablet-gothic-condensed-1","tablet-gothic-condensed-2"
// "tablet-gothic-wide-1","tablet-gothic-wide-2"
// "tablet-gothic-1","tablet-gothic-2"
// "adelle-1","adelle-2"


// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Gentium Book Basic', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;


$brand-round:        		2px;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

// $heading-face:      		"Helvetica Neue", Helvetica, sans-serif;
// $heading-face:      		'Roboto Slab', Georgia, serif;

$Black: 					rgba(0,0,0,1);
$White: 					rgba(254,254,254,1);
$Grey:						rgba(220,220,220,1);
$GreyLight:					rgba(240,240,240,1);
$Green:						rgba(50,130,50,1);
$Red:						rgba(217,70,28,1);
$Blue:						rgba(4,75,91,1);
$Yellow:					rgba(230,255,0,1);

// 'M' theme
$MPurple:					#2b115a; // Purple
$MBlue:						#008ac9; // Blue
$MRed:						#f11a22; // Red

// Martini theme
$MartDarkBlue:				#00386B; // Dark blue
$MartLightBlue:				#82C6E2; // Light blue
$MartRed:					#E8112D; // Red

// Villa
$VGold:						#FCE100;




