/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Explain here.
 */


footer {
	padding: $base-spacing-unit*2 0;
}

	footer .island {
		background: $White;
	}

		footer p {
			color: $Black;
			font-family: $brand-face;
			font-size: $base-font-size*0.8;
			font-weight: 400;
			margin-bottom: $base-font-size*0.8;
		}

		footer p em {
			font-style: normal;
			font-weight: 600;
		}	