/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Explain here.
 */


footer {
	padding: $base-spacing-unit*2 0;
}

	footer .island {
		background: $White;
	}

		footer p {
			color: $Black;
			font-family: $brand-secondary-face;
			font-size: 100%;
			font-weight: 400;
		}

		footer p em {
			font-weight: 700;
		}	