/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * Explain here.
 */


footer {
	padding: $base-spacing-unit*2 0;
}

	footer p {
		color: #646464;
		font-size: 85%;
		font-weight: 300;
	}