/*------------------------------------*\
    $HEADER
\*------------------------------------*/
/**
 * Explain here.
 */

header {
	padding: $base-spacing-unit/2 0;
}


.logo {
	
}

	.logo a {
		color: $Black;
		border-bottom: none;
		display: inline-block;
		font-family: $logo-face;
		font-weight: 700;
		padding: $half-spacing-unit/1.6 0;
		text-decoration: none;
	}

	.logo a:hover {
		color: $brand-color;
	}
