/*------------------------------------*\
    $HEADER
\*------------------------------------*/
/**
 * Explain here.
 */

header {
	padding: $base-spacing-unit 0;
}

.logo {
	
}

	.logo a {
		background: $Black;
		color: $MartLightBlue;
		display: inline-block;
		font-family: $logo-face;
		font-size: 100%;
		font-weight: 100;
		padding: $half-spacing-unit/1.6 $half-spacing-unit;
		text-decoration: none;
		text-transform: uppercase;
	}

	.logo a:hover {
		background: $Black;
		color: $Yellow;
	}