/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * Explain here.
 */

html {
	background: $White;
	color: $Black;
	font-family: $brand-face;
}

a {
	// background: $Yellow;
	color: $MartRed;
}

a:hover {
	background: $MartRed;
	color: $White;
	text-decoration: none;
}

li {
	margin-bottom: $half-spacing-unit/3;
}

hr {
	border: 1px solid $Grey;
}


.float-left {float:left}
.float-right {float:right}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: $base-spacing-unit*28;
	padding: 0 $half-spacing-unit;
}

.page-nav {
	background: $Grey;
}

	.page-nav a {
		color: #666;
		padding: 5px 15px;
		text-decoration: none;
	}

	.page-nav a:hover {
		background: #666;
		color: $White;
	}

.main-content {
	margin: $base-spacing-unit*2 0;
}