/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/**
 * Explain here.
 */



.site-nav {
	margin: 0 0 0 -$half-spacing-unit;
}

	.site-nav a {
		color: $brand-color;
		font-family: $brand-secondary-face;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
	}

	.site-nav a:hover {
		text-decoration: underline;
	}	
