/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/**
 * Explain here.
 */



.site-nav {
	margin: 0 0 0 -$half-spacing-unit;
}

	.site-nav a {
		border-bottom: none;
		color: $Black;
		font-family: $brand-nav-face;
		font-size: $h4-size;
		font-weight: 400;
		padding: $half-spacing-unit*0.64 $half-spacing-unit !important; 
		text-decoration: none;
	}

	.site-nav a:hover {
		color: $brand-color;
		text-decoration: underline;
	}	

	.site-nav li {
		margin-bottom: 0;
	}

