/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/**
 * Explain here.
 */



.site-nav {
	margin: 0 0 0 -$half-spacing-unit;
}

	.site-nav a {
		background: none;
		color: $MartLightBlue;
		font-family: $brand-secondary-face;
		font-size: 100%;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}

	.site-nav a:hover {
		background: $Black;
		color: $Yellow;
	}	
