/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
 * Explain here.
 */

h1 {
	// letter-spacing: -0.03em;
}

h1, h2, h3 {
	border-bottom: 1px solid $Grey;
	color: $Black;
	font-family: $brand-secondary-face;
	font-weight: normal;
	padding-bottom: $half-spacing-unit;
}

.intro {
	color: $SecondaryText;
	font-size: $h3-size;
	font-family: "adelle-1","adelle-2";
}

blockquote {
	border-left: $base-spacing-unit/3 solid $Black;
	color: $Black;
	line-height: 1.6;
	font-size: 18px;
	font-style: italic;
	padding: $half-spacing-unit 0 $half-spacing-unit $base-spacing-unit;
	margin: $base-spacing-unit*1.5 0
}	

code,
kbd,
pre,
samp {
    font-family: Consolas, monospace, serif;
    font-size: $milli-size;
}