/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
 * Explain here.
 */

h1, h2 {
	font-family: $brand-secondary-face;
	font-weight: 700;
	margin-bottom: $base-spacing-unit;
}