            </div>
        </div>
    </div>
    <footer class="">
        <div class="wrapper cf">
            <div class="grid">
                <div class="grid__item one-half testimonial float-left">
                    <p>"Rob worked as a web developer for one of my clients and did an excellent job. He is very professional and a pleasure to deal with."</p>
                    <p><em>David Hannett, Consultant, S3</em></p>
                </div>

                <div class="grid__item one-half testimonial float-right">
                    <p>"Rob is a hard worker who has a good eye for design and always produces the highest quality of work. Rob was easy to get along with and work with."</p>
                    <p><em>James Williams, Senior Web Developer, Alliance &amp; Leicester</em></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
